.form-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

label {
  grid-column: 1;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  grid-column: 1;
  width: 100%;
}

select {
  grid-column: 1;
  width: 100%;
}

input[type="submit"] {
  width: auto;
  padding: 5px 10px;
}